/* line 6, ../open-source/web-exam/scss/style.scss */
* {
  padding: 0;
  margin: 0;
}

/* line 11, ../open-source/web-exam/scss/style.scss */
body {
  font: 100% "roboto", sans-serif;
  color: #0C0C0C;
  background-color: #fff;
}

/* line 17, ../open-source/web-exam/scss/style.scss */
#wrapper {
  width: 1280px;
  margin: 0 auto;
  margin-top: 30px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 200px 100px auto auto;
  grid-template-areas: "header" "nav" "main" "footer";
  grid-gap: 5px;
  border-radius: 5px;
}

/* line 35, ../open-source/web-exam/scss/style.scss */
header {
  grid-area: header;
  background-image: url("../img/background-image.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: auto 80% !important;
  padding: 60px;
}

/* line 44, ../open-source/web-exam/scss/style.scss */
header h1 {
  font-size: 55px;
}

/* line 50, ../open-source/web-exam/scss/style.scss */
nav {
  grid-area: nav;
  border-bottom: 5px solid #F9F9F9;
}

/* line 54, ../open-source/web-exam/scss/style.scss */
nav img {
  height: 85%;
  float: right;
}

/* line 59, ../open-source/web-exam/scss/style.scss */
nav ul {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  margin-left: 15px;
  width: 50%;
}

/* line 68, ../open-source/web-exam/scss/style.scss */
nav ul li {
  list-style-type: none;
  display: inline;
  height: 100%;
  text-align: center;
  margin-top: 38px;
}

/* line 75, ../open-source/web-exam/scss/style.scss */
nav ul li a {
  text-decoration: none;
  font-size: 1.5em;
  text-align: center;
  color: #0C0C0C;
  padding: auto;
  text-align: center;
  font-weight: bold;
}

/* line 84, ../open-source/web-exam/scss/style.scss */
nav ul li a :visited {
  text-decoration: none;
  color: #0C0C0C;
}

/* line 89, ../open-source/web-exam/scss/style.scss */
nav ul li .selected {
  border-bottom: 1px solid #61aaee;
  padding-bottom: 5px;
}

/* line 93, ../open-source/web-exam/scss/style.scss */
nav ul li a:hover {
  text-decoration: none;
  border-bottom: none;
  line-height: 10px;
  color: #61aaee;
}

/* line 105, ../open-source/web-exam/scss/style.scss */
main {
  grid-area: main;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 100px;
}

/* line 116, ../open-source/web-exam/scss/style.scss */
main .item-1, main .item-2, main .item-3 {
  flex: 1;
}

/* line 120, ../open-source/web-exam/scss/style.scss */
main section {
  margin: 45px;
  height: 500px;
  padding: 15px;
  background-color: #F9F9F9;
  border: 1px solid #ecebeb;
  border-radius: 3px;
  line-height: 25px;
}

/* line 130, ../open-source/web-exam/scss/style.scss */
main section img {
  width: 100%;
  display: block;
  margin: auto;
  opacity: .9;
}

/* line 137, ../open-source/web-exam/scss/style.scss */
main section h1 {
  padding: 10px 0 5px 0;
}

/* line 141, ../open-source/web-exam/scss/style.scss */
main section p {
  padding: 10px 0 0 0;
}

/* line 152, ../open-source/web-exam/scss/style.scss */
#contact .item-2 {
  flex-grow: 3;
  display: flex;
  justify-content: space-evenly;
}

/* line 157, ../open-source/web-exam/scss/style.scss */
#contact .item-2 section {
  height: auto;
  width: 25%;
  border: 1px solid #ecebeb;
  border-radius: 3px;
  line-height: 25px;
  border-radius: 1px solid gray;
  background-color: #ecebeb;
}

/* line 175, ../open-source/web-exam/scss/style.scss */
footer {
  background-color: #F9F9F9;
  border: 1px solid #ecebeb;
  padding: 50px;
  grid-area: footer;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

/* line 187, ../open-source/web-exam/scss/style.scss */
footer section {
  height: 55px;
  width: 250px;
  position: relative;
  flex-basis: auto;
  margin-bottom: 25px;
}

/* line 193, ../open-source/web-exam/scss/style.scss */
footer section p {
  position: absolute;
  bottom: 0;
  left: 0;
}

/* line 199, ../open-source/web-exam/scss/style.scss */
footer section a {
  display: block;
  text-decoration: none;
  color: #0C0C0C;
  margin-top: 5px;
}

@media (max-width: 768px) {
  /* line 212, ../open-source/web-exam/scss/style.scss */
  header {
    padding: 10px;
    text-align: center;
    background-image: none;
  }
  /* line 217, ../open-source/web-exam/scss/style.scss */
  header p {
    display: none;
  }
  /* line 221, ../open-source/web-exam/scss/style.scss */
  #wrapper {
    width: 100%;
    margin-top: 0px;
    border-radius: 0px;
    border: none;
    grid-template-rows: 100px 50px auto auto;
    grid-template-areas: "header" "nav" "main" "footer";
  }
  /* line 236, ../open-source/web-exam/scss/style.scss */
  main {
    flex-direction: column;
  }
  /* line 240, ../open-source/web-exam/scss/style.scss */
  section {
    align-self: center;
    max-width: 500px;
  }
}

@media (max-width: 1280px) {
  /* line 248, ../open-source/web-exam/scss/style.scss */
  #wrapper {
    width: 100%;
    margin-top: 0px;
    border-radius: 0px;
    border: none;
    flex-wrap: wrap;
  }
  /* line 257, ../open-source/web-exam/scss/style.scss */
  nav ul {
    width: 60%;
  }
}

/*# sourceMappingURL=style.css.map */