* {
    padding: 0px;
    margin: 0px;
    color: #807777;
}

body {
    background-color: #fff;
    font-family: 'roboto', sans-serif;
}

#wrapper {
    width: 1280px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 200px 50px auto 50px;
    grid-template-areas: 
        "header"
        "nav"
        "main"
        "footer";

    grid-gap: 5px;
    border-radius: 5px;
}

main {
    background-color: #f6f6f6;
    grid-area: main;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

    padding-bottom: 100px;
}

section {
    margin: 45px;
    height: 500px;
    padding: 15px;
    
    background-color: #ececec;
    border-bottom: 5px solid #cfcdcd;
    line-height: 25px;
}

section img {
    width: 100%;
    display: block;
    margin: auto;
    opacity: .7;
}

section h1 {
    padding: 10px 0 5px 0;
}

section p {
    padding: 10px 0 0 0;
}

@media (max-width: 1279px) {
    #wrapper {
        width: 100%;
    }

    main {
        flex-direction: column;
    }

    section {
        align-self: center;
        max-width: 760px;
    }
}

.item-1, .item-2, .item-3 {
    flex: 1;
}


header {
    background-color:  #f6f6f6;
    grid-area: header;
    background-image: url("../img/banner.png");
 
    background-size: 100% auto !important;
    padding: 60px;
}

header h1 {
    font-size: 55px;
}


nav {
    grid-area: nav;
    background-color: #f6f6f6;
    border-bottom: 5px solid #ececec;
}


section img {
    width: 100%;
    display: block;
    margin: auto;
    opacity: .7;
}

section h1 {
    padding: 10px 0 5px 0;
}

section p {
    padding: 10px 0 0 0;
}





footer {
    background-color: #f6f6f6;
    border-bottom: 5px solid #ececec;
    grid-area: footer;
}

